<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kkdugi.core.menu.mapper.MenuLangMapper">

  <resultMap id="menuLangResultMap" type="kkdugi.core.menu.models.MenuLang"
             extends="kkdugi.core.models.CommonMapper.baseResultMap">
    <id property="menuId" column="menu_id"/>
    <id property="langCode" column="lang_cd"/>
    <result property="label" column="menu_nm"/>
    <result property="remarks" column="menu_dc"/>
  </resultMap>

  <sql id="columns">
<![CDATA[
menu_id, lang_cd, menu_nm, menu_dc, reg_dtm, reg_id, upd_dtm, upd_id
]]>
  </sql>

  <!--
    * QueryID=findByMenuId
    * Description=Find all language rows for one menu
    -->
  <select id="findByMenuId" resultMap="menuLangResultMap">
<![CDATA[
/* QueryID=kkdugi.core.menu.mapper.MenuLangMapper.findByMenuId */
SELECT
]]>
    <include refid="columns"/>
<![CDATA[
FROM kkdugi_menu_lang
WHERE menu_id = #{menuId}
]]>
  </select>

  <!--
    * QueryID=findByMenuIds
    * Description=Find all language rows for a set of menus
    -->
  <select id="findByMenuIds" resultMap="menuLangResultMap">
<![CDATA[
/* QueryID=kkdugi.core.menu.mapper.MenuLangMapper.findByMenuIds */
SELECT
]]>
    <include refid="columns"/>
<![CDATA[
FROM kkdugi_menu_lang
WHERE menu_id IN
]]>
    <foreach item="id" collection="menuIds" open="(" separator="," close=")">
      #{id}
    </foreach>
<![CDATA[
ORDER BY menu_id, lang_cd
]]>
  </select>

  <!--
    * QueryID=insert
    * Description=Insert one menu-language row
    -->
  <insert id="insert" parameterType="kkdugi.core.menu.models.MenuLang">
<![CDATA[
/* QueryID=kkdugi.core.menu.mapper.MenuLangMapper.insert */
INSERT INTO kkdugi_menu_lang (menu_id, lang_cd, menu_nm, menu_dc, reg_dtm, reg_id)
VALUES (#{menuId}, #{langCode}, #{label}, #{remarks}, #{createdAt}, #{creatorId})
]]>
  </insert>

  <!--
    * QueryID=update
    * Description=Update one menu-language row
    -->
  <update id="update" parameterType="kkdugi.core.menu.models.MenuLang">
<![CDATA[
/* QueryID=kkdugi.core.menu.mapper.MenuLangMapper.update */
UPDATE kkdugi_menu_lang
SET menu_nm = #{label},
    menu_dc = #{remarks},
    upd_dtm = #{updatedAt},
    upd_id  = #{updaterId}
WHERE menu_id = #{menuId} AND lang_cd = #{langCode}
]]>
  </update>

  <!--
    * QueryID=deleteByMenuIds
    * Description=Delete language rows for a set of menus
    -->
  <delete id="deleteByMenuIds">
<![CDATA[
/* QueryID=kkdugi.core.menu.mapper.MenuLangMapper.deleteByMenuIds */
DELETE FROM kkdugi_menu_lang
WHERE menu_id IN
]]>
    <foreach item="id" collection="menuIds" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

</mapper>
