<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kkdugi.core.serial.service.SerialService">

  <!--
      * QueryID=getSerial
      * Description=get next serial value
      -->
  <select id="getSerial" resultType="java.lang.Long">
<![CDATA[
/* QueryID=kkdugi.core.serial.service.SerialService.getSerial */
SELECT KKDUGI_FN_NEXT_SERIAL(#{id}, #{key}, #{size})
]]>
    </select>
</mapper>