<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kkdugi.common">

    <resultMap id="Base" type="kkdugi.core.models.BaseModel">
        <result column="TOTAL_SIZE" property="totalItems" />
        <result column="RNUM"       property="rownum"     />
        <result column="REG_ID"     property="createId"   />
        <result column="REG_DTM"    property="createdAt"  />
        <result column="UPD_ID"     property="updateId"   />
        <result column="UPD_DTM"    property="updatedAt"  />
    </resultMap>
</mapper>