<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kkdugi.core.i18n.I18nMessageMapper">

    <resultMap id="i18nMessageResultMap" type="kkdugi.core.i18n.I18nMessage">
        <id property="msgCd" column="msg_cd"/>
        <id property="langCd" column="lang_cd"/>
        <result property="msgVal" column="msg_val"/>
        <result property="regDtm" column="reg_dtm"/>
        <result property="regId" column="reg_id"/>
        <result property="updDtm" column="upd_dtm"/>
        <result property="updId" column="upd_id"/>
    </resultMap>

    <select id="selectAll" resultMap="i18nMessageResultMap">
        SELECT msg_cd, lang_cd, msg_val, reg_dtm, reg_id, upd_dtm, upd_id
        FROM kkdugi_i18n_msg
    </select>

    <select id="findByCodeAndLang" resultMap="i18nMessageResultMap">
        SELECT msg_cd, lang_cd, msg_val, reg_dtm, reg_id, upd_dtm, upd_id
        FROM kkdugi_i18n_msg
        WHERE msg_cd = #{msgCd}
          AND lang_cd = #{langCd}
    </select>

    <select id="search" resultMap="i18nMessageResultMap">
        SELECT msg_cd, lang_cd, msg_val, reg_dtm, reg_id, upd_dtm, upd_id
        FROM kkdugi_i18n_msg
        <where>
            <if test="msgCd != null and msgCd != ''">
                AND msg_cd LIKE '%' || #{msgCd} || '%'
            </if>
            <if test="langCd != null and langCd != ''">
                AND lang_cd = #{langCd}
            </if>
        </where>
        ORDER BY msg_cd, lang_cd
        OFFSET #{offset} LIMIT #{limit}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM kkdugi_i18n_msg
        <where>
            <if test="msgCd != null and msgCd != ''">
                AND msg_cd LIKE '%' || #{msgCd} || '%'
            </if>
            <if test="langCd != null and langCd != ''">
                AND lang_cd = #{langCd}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="kkdugi.core.i18n.I18nMessage">
        INSERT INTO kkdugi_i18n_msg (msg_cd, lang_cd, msg_val, reg_dtm, reg_id)
        VALUES (#{msgCd}, #{langCd}, #{msgVal}, #{regDtm}, #{regId})
    </insert>

    <update id="update" parameterType="kkdugi.core.i18n.I18nMessage">
        UPDATE kkdugi_i18n_msg
        SET msg_val = #{msgVal},
            upd_dtm = #{updDtm},
            upd_id  = #{updId}
        WHERE msg_cd = #{msgCd}
          AND lang_cd = #{langCd}
    </update>

    <delete id="delete">
        DELETE FROM kkdugi_i18n_msg
        WHERE msg_cd = #{msgCd}
          AND lang_cd = #{langCd}
    </delete>

</mapper>
